# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Logs and Data
*.log
*.txt
.idx/.data/

# Application
app/static/
certbot/

# Credentials and Keys
.env
credential.json
.secrets
