# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Logs and Data
*.log
*.txt
.idx/.data/

# Application
app/static/

# Credentials and Keys
.env
gcs.json
gcs_key.json

# Deployment
deploy_copy.yml